header{
    padding: 10px;
}
main{
    padding: 10px;
    background-image: url(../images/main-bg.jpg);
}
.bg-color1{
    background-color: #AAC4FF;
}
.text-color1{
    color: #396eeb;
}
.bg-color2{
    background-color: #D2DAFF;
}
.bg-color3{
    background-color: #EEF1FF;
}
.bg-color4{
    background-color: #E1FFEE;
}
.cursor-pointer{
    cursor: pointer;
}
.no-underline{
    text-decoration: none;
    color: black;
}
.blog-posts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    padding: 15px;
}
.p-15{
    padding: 15px;
}
.blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#res-nav{
    z-index: 1;
}
.to-top-div{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #AAC4FF;
    position: sticky;
    bottom: 1%;
    left: 1%;
    padding: 7px;
}
.flexBox{
    display: flex;
}

/* responsive nav bar  */
.responsive-nav{
    position: absolute;
    top: 9%;
    left: 0%;
    width: 100%;
    display: none;
}
/* responsive nav bar  */
@media only  screen and (max-width:574px)  {
   .nav-items{
    display: none;
   }
   .hamburger-menu{
    display: block;
   }
   .blog-posts{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 25px;
    padding: 5px;
    }
    .blog{
        padding: 5px;
    }
    .blog{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}
@media only  screen and (min-width:575px){
    .hamburger-menu{
        display: none;
       }
       .responsive-nav{
        display: none;
       }
}